@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
.conv__display {
    height: 4vw;
    margin: 0;
    width: 19vw;
}
.conv__display input {
    background: white;
    border: none;
    height: 100%;
    font-family: 'Oxygen Mono', monospace;
    font-size: 2vw;
    font-weight: 700;
    margin: 0;
    padding-left: 10px;
    mix-blend-mode: screen;
    width: calc(100% - 10px);
}
.conv__sml {
    background: red;
    border: none;
    height: 4vw;
    margin: 1vw;
    padding: 0;
    width: 4vw;
}
#colourDisplay {
    border: none;
    height: 100%;
    margin: 0;
    outline: none;
    padding: 0;
    width: 100%;
}